{% extends 'base.html.twig' %}

{% block body %}

    
        <h1>Lista de Produtos <a href="{{ path('produtos_new') }}" class="btn btn-primary pull-right">Criar novo produto</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Imagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{{ path('produtos_show', { 'id': produto.id }) }}">{{ produto.id }}</a></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.tipo }}</td>
                <td>{{ produto.imagem }}</td>
                <td>
                    <a href="{{ path('produtos_show', { 'id': produto.id }) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-eye-open"></span> </a>
                    <a href="{{ path('produtos_edit', { 'id': produto.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    


{% endblock %}
